vrrp_instance vips {
  state BACKUP
  interface {{ $iface }}
  virtual_router_id {{ .vrid }}
  priority {{ .priority }}
  nopreempt
  advert_int 1

  virtual_ipaddress { {{ range .vips }}
    {{ . }}{{ end }}
  }
}